<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page.html %}
  <div class="layout">
    <!-- {%if site.show_aboutme_card %}
      <section class="card neumorphism-card-big">
        {% include section-aboutme.html %}
      </section>
    {% endif %} -->
    <!-- {%if site.show_skills_card %}
      <section class="card neumorphism-card-big">
        {% include section-skills.html %}
      </section>
    {% endif %} -->
    <!-- {%if site.show_timeline_card %}
      <section class="card neumorphism-card-big">
        {% include section-timeline.html %}
      </section>
    {% endif %} -->

    <!-- Link to post -->

    <!-- {%if site.show_projects_card %}
      <section class="card neumorphism-card-big">
        {% include section-projects.html %}
      </section>
    {% endif %} -->

   <!-- Link to repositories -->

    <!-- {%if site.show_projects_card %}
    <section class="card neumorphism-card-big">
      {% include section-repositories.html %}
    </section> -->


  {% endif %}
    <!-- Adding section to feature posts. -->
    <section class="card neumorphism-card-big">
      <h1 class="title"><span>Projects</span></h1>
      <div class="projects-wrapper">
        <ul class="post-list">
          {% for post in site.posts limit:5 %}
            <h2 class="post-item">           
              <!-- Link to post -->
              <h2>
                <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h2>
              
              <!-- <a href="{{ post.url | relative_url}}">{{ post.title }}</a> -->
              <p>{{ post.abstract | truncate: 300 }}</p>
              {% if post.gif %}
              <div style="margin-top: 20px;">
                <img src="{{ post.gif }}" alt="GIF" style="width:100%; max-width:500px;">
              </div>
              {% endif %}
              <!-- Link to manuscript -->
              {% if post.full_text %}
                <a class="highlight-link" href="{{ post.full_text }}" target="_blank" rel="noreferrer">
                  Manuscript
                </a>
                {% if post.repo %}
                  |
                {% endif %}
              {% endif %}
               <!-- Link to repository -->
              {% if post.repo %}
                <a class="highlight-link" href="{{ post.repo }}" target="_blank" rel="noreferrer">
                  GitHub Repository
                </a>
              {% else %}
                <p>No GitHub repository link available.</p>
              {% endif %}
              <!-- Coding Tags -->
              {% if post.tags %}
                <div class="tag-wrapper">
                  {% for tag in post.code_tags %}
                    <span class="home_codetag">{{ tag.tag }}</span>
                  {% endfor %}
              {% endif %}
              <!-- Biology Tags -->
              {% if post.tags %}
                  {% for tag in post.bio_tags %}
                    <span class="home_biotag">{{ tag.tag }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </h2>
             <!-- Add <hr> only if it's not the last post in the list -->
          {% unless forloop.last %}
            <hr>
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </section>
    
    {%if site.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include section-contact.html %}
    </section>
    {% endif %}
    
    <section class="card neumorphism-card-big">
      <h1 class="title"><span>Contributors</span></h1>
      {% include contributors.html %}
    </section>

    <section class="card neumorphism-card-big">
      {% include contact.html %}
    </section>

  </div>
  
  {% include footer.html %}
</body>
</html>