<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  <div class="layout">
    <!-- <section class="card neumorphism-card-big"> -->

      <!-- Main Content -->
      <main class="page-content">
        <div class="container">
          <!-- Back to home link -->
          <!-- <a href="{{ "/" | relative_url }}" class="back-link">{{ site.theme_config.back_home_text }}</a> -->

          <!-- Post Title -->
          <h1 class="page-title">{{ page.title }}</h1>

          <!-- Social Share & Tags -->
          {% include date_and_social_share.html %}

          <!-- Abstract (mandatory) and gif (optional) are loaded from post file (see header on /_posts/).  -->
          <section class="card neumorphism-card-big">
            <h2>Abstract</h2>
            {% if page.gif %}
              <div style="display: flex; align-items: flex-start;">
                <!-- GIF Dynamically Loaded -->
                <img src="{{ page.gif }}" alt="GIF" style="width:50%; max-width:600px; margin-right: 20px;">
                <!-- Abstract Text Dynamically Loaded -->
                <div style="flex: 1;">
                  <p>{{ page.abstract }}</p>
                </div>
              </div>
            {% else %}
              <!-- Only Abstract Text If No GIF -->
              <div>
                <p>{{ page.abstract }}</p>
              </div>
            {% endif %}
          </section>

          <section class="card neumorphism-card-big">
            {{ content }}
          </section>
          
          <!-- Contact us -->
          <section class="card neumorphism-card-big">
            {% include contact.html %}
          </section>
        </div>

      </main>
  <!-- </section> -->

</div>
{% include footer.html %}
</body>
</html>

